@model PTPBD.Models.ViewModels.TerapeutaViewModel
@{
    ViewBag.Title = "Agregar Terapeuta";
}

<section class="index-container">
    <div class="container">
        <h2>Agregar terapeuta</h2>

        <div class="container-formulario">
            @using (Html.BeginForm("Add", "Terapeuta", FormMethod.Post, new { role = "form", @class = "formulario" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationMessage("Error", new { @class = "" })

                @Html.LabelFor(model => model.Nombre, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "formulario-input" })
                @Html.ValidationMessage("Nombre", new { @class = "" })

                @Html.LabelFor(model => model.Apellido_Paterno, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Apellido_Paterno, new { @class = "formulario-input" })
                @Html.ValidationMessage("Apellido_Paterno", new { @class = "" })

                @Html.LabelFor(model => model.Apellido_Materno, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Apellido_Materno, new { @class = "formulario-input" })
                @Html.ValidationMessage("Apellido_Materno", new { @class = "" })

                @Html.LabelFor(model => model.Matricula, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Matricula, new { @class = "formulario-input", @type = "number" })
                @Html.ValidationMessage("Matricula", new { @class = "" })

                @Html.LabelFor(model => model.Organizacion, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Organizacion, new { @class = "formulario-input" })
                @Html.ValidationMessage("Organizacion", new { @class = "" })

                @Html.LabelFor(model => model.Universidad, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Universidad, new { @class = "formulario-input" })
                @Html.ValidationMessage("Universidad", new { @class = "" })

                @Html.LabelFor(model => model.Grado, new { @class = "formulario-titulo" })
                @Html.TextBoxFor(model => model.Grado, new { @class = "formulario-input" })
                @Html.ValidationMessage("Grado", new { @class = "" })

                @Html.LabelFor(model => model.Escolaridad, new { @class = "formulario-titulo"})
                @Html.TextBoxFor(model => model.Escolaridad, new { @class = "formulario-input" })
                @Html.ValidationMessage("Escolaridad", new { @class = "" })

                <div>
                    <input type="submit" class="btn-save" value="Guardar" />
                </div>
            }
        </div>
    </div>
</section>

<style>
    .index-container {
        width: 70%;
        margin: 0 auto;
        padding: 30px;
    }

        .index-container .container {
            width: 100%;
            border-radius: 10px;
            padding: 30px;
            background-color: white;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 20px 5px darkgray;
        }

            .index-container .container h2 {
                text-align: center;
            }
    .formulario{
        display: flex;
        flex-direction: column;
    }

    .formulario .formulario-input {
        margin: 20px 0;
        height: 20px;
        padding: 5px;
    }

</style>
